$numLetters: 13;
$base-color: #446CB3;

h1{
  position: relative;
  margin: 0 auto 70px auto;
  width: 85%;	
}

h1:nth-of-type(1) {
  margin-top: 0;
} 

h1:nth-of-type(2) {
  margin: 35px auto;
  width: 60%;
}

h1 span{
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: #22313F -2px 2px 9px;
  font-size: 1.8em;  
}

@for $i from 1 through $numLetters {
  span:nth-of-type(#{$i}){
    left: 60px * $i;
    color: lighten( $base-color, $i*4% );
  }
}
