@import "reset";

@mixin picture {
	width: 15em;
	min-height: 15em;
	margin: 0 auto;
	background: grey;
}

$oblivion: #b9b2cd;

$oldpaper: #a6866e;

$background: #54b3d1;

$cleanmetal: #316572;

$borders: #6511b5;

$skyblue: #2c38af;

$azul: #4063af;

$eyeblue: #2260cd;

$phi: 1.61803398875;

@mixin border-box {
   -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing: border-box;   /* Everything else */
}

@mixin backDropShadow {
        -moz-box-shadow: -7px -7px 7px #3B4990;
        -webkit-box-shadow: -7px -7px 7px #3B4990;
        box-shadow: -7px -7px 7px #3B4990;
}

@mixin roundDropShadow {
        -moz-box-shadow: 0 0 10px #3B4990;
       	-webkit-box-shadow: 0 0 10px #3B4990;
	box-shadow: 0 0 10px #3B4990;
}

$enzo: "ff-enzo-web",helvetica, sans-serif;

$prater: "ff-prater-script-web",sans-serif;

body {
	background: $background;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

nav { 
	position: fixed;
	background: $background;
	width: 100%;
	
	li {
		float: left;
		width: 30%;
		border: 3px solid $borders;
		border-radius: 10px;
		text-align: center;
		font-family: $enzo;
		font-size: 1.5em;
		@include border-box;
		padding: 10px 0px;
		margin: 10px 5px;
	}

	li:nth-of-type(2) {
		margin: 10px 5px;
	}

	li:hover {
		background: $skyblue;
		border: transparent;
	}

	a {
		text-decoration: none;
		color: black;
	}

}

h1 {
	text-align: center;
	line-height: 2.5em;
	font-weight: cursive;

	span {
		font-size: 3.8em;
  		text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);
  		color: white;
	}
	
	span.space {
		margin: 0 5%;
	}
}

h1:nth-of-type(1) {
	margin-top: 100px;
}

h2 {
	clear: both;
	font-size: 3.7em;
	line-height: 1.75em;
	text-align: center;
	font-family: $prater;
	color: #0000cc;	
 	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h3 {
	text-align: center;
	font-size: 2.2em;
	@include border-box;
	padding: 3px;
	font-family: $enzo;
}

.separator {
	height: 85px;
	color: transparent;
	overflow: hidden;	
}

.about_me {
	margin: 0 auto;
	width: 100%;

	ul {
		max-width: 80%;
		margin: 30px auto;
		font-size: 1.25em;
		line-height: 1.35em;
		font-family: $enzo;

		li {
			margin: 20px 0;
		}
	}
}

.skills, .interests {
	float: left;
	margin: 20px auto;
	padding-top: 20px;
	background: $azul;
	color: white;
	width: 100%;
	height: 161.803398875%;
	@include backDropShadow;

	ul {
		background: $eyeblue;
		margin: 20px auto;
		padding: 1px 5%;
		@include roundDropShadow;
	}

	h3 {
		background: $eyeblue;
		width: 90%;
		padding: 5px;
		margin: 0 auto;
		@include roundDropShadow;
	}
}

.project_card {
	margin: 40px auto;
	@include border-box;
	padding: 20px 0;
	background: $azul;
	max-width: 300px;
	height: 485.410196625px;
	color: white;
	@include backDropShadow;

	.project_name {
		background: $eyeblue;
		max-width: 80%;
		margin: 0 auto;
		padding: 2.5%; 
		@include roundDropShadow;
	}

	.project_description {
		@extend .project_name;
		padding: 0px 2.5%;
		@include roundDropShadow;

		 p {
		 	width: 85%;
			font-size: 1.1em;
			line-height: 1.4em;
			margin: 10px;
			@include border-box;
			padding: 5px 0px;
			font-family: $enzo;
		}
	}

	.buttons {
		margin: 0 auto;
		width: 80%;

		button {
			width: 45%;
			min-height: 40px;
			border-radius: 10px;
			border: 3px solid $borders;
			margin: 20px 5px 0 5px;
			font-size: 1.25em;
			background: $skyblue;
			color: white;
		}

		button:hover {
			@extend li:hover;
		}
	}
}

.media {
	display: none;
	border: 3px solid #000099;
	border-radius: 10px;
	@include border-box;
	padding: 4px 10px;
	margin: 15px auto 0 auto;
	width: 65%;
	width: 185px;
	height: 65px;
	@include roundDropShadow;

	img {
		max-width: 40px;
		margin: 5px;
	}

	a {
	  border-radius: 4px;
	  text-decoration:none;
	  font-family: $enzo;
	  display: inline-block;
	  width: 50px;
	  height: 50px;	
	  -o-transition:all 1s;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
	   -webkit-font-smoothing: antialiased;
	}

	a:hover {
	  background: blue;
	}

	/* pop-up text */

	a span {
	  color:#666;
	  position: relative;
	  padding:5px;
	  z-index:2;
	  left: -23px;
	  bottom: 0;
	  top: -80px;
	  font-size:14px;
	  border-radius:2px;
	  background:#fff;
	  visibility:hidden;
	  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	/* pop-up text arrow */

	a span:before {
	  content:'';
	  width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #fff;
	  position:absolute;
	  bottom:-5px;
	  left:40px;
	}

	/* text pops up when icon is in hover state */

	a:hover span {
	  bottom: 50px;
	  visibility:visible;
	}
}

.tumblr {
	@extend .project_card;
	margin: 20px auto;
	@include backDropShadow;

	.post_name {
		@extend .project_name;
		@include roundDropShadow;
	}

	p {
		width: 85%;
		margin: 10px auto;
		padding: 5px 6%;
		font-size: 1.1em;
		line-height: 1.5em;
		background: $eyeblue;
		@include border-box;
		font-family: $enzo;
		@include roundDropShadow;
	}

	.buttons {
		margin: 0 auto;
		width: 90%;

		button {
			width: 45%;
			min-height: 40px;
			border-radius: 10px;
			margin: 10px 4px;
			font-size: 1.25em;
		}


	}
}

.twitter {
	clear: both;
	margin: 20px auto;
	width: 80%;
	max-width: 550px;

	#twitter-widget-0 {
	      width: 100% !important;
	    }
}

@media screen and (min-width: 700px) {

	nav {
		display: none;
		display: hidden;
	}

	h1 {
		font-size: 3.2em;
	}

	.about_me p {
		line-height: 1.8em;
	}

	.project_card, .tumblr {
		float: left;
		margin: 40px 4px;
	}

	.project_card:nth-of-type(2n), .tumblr:nth-of-type(2n) {
		float: right;
	}

}

@media screen and (min-width: 1000px) {

	@import "titleTypography";

	h2 {
		margin-top: 40px;
	}

	.project_card, .tumblr {
		float: left;
		margin: 40px 3%;
	}

	.project_card:nth-of-type(2n), .tumblr:nth-of-type(2n) {
		float: left;
	}

	.skills, .interests {
		max-width: 45%;
		margin: 0 2%;	
	}
}






