/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Ignore the gross stuff above */
body {
  background: #54b3d1; }

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }

nav {
  position: fixed;
  background: #54b3d1;
  width: 100%; }
  nav li {
    float: left;
    width: 30%;
    border: 3px solid #6511b5;
    border-radius: 10px;
    text-align: center;
    font: "ff-enzo-web", helvetica, sans-serif;
    font-size: 1.5em;
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    padding: 10px 0px;
    margin: 10px 5px; }
  nav li:nth-of-type(2) {
    margin: 10px 5px; }
  nav li:hover, nav .project_card .buttons button:hover, .project_card .buttons nav button:hover, nav .tumblr .buttons button:hover, .tumblr .buttons nav button:hover {
    background: #2c38af;
    border: transparent; }
  nav a {
    text-decoration: none;
    color: black; }

h1 {
  font-size: 3.8em;
  line-height: 1.35em;
  text-align: center;
  font: "ff-enzo-web", helvetica, sans-serif; }

h2 {
  clear: both;
  font-size: 3em;
  line-height: 1.35em;
  text-align: center;
  font: "ff-enzo-web", helvetica, sans-serif; }

h3 {
  text-align: center;
  font-size: 2.2em;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 3px;
  font: "ff-enzo-web", helvetica, sans-serif; }

.separator {
  height: 85px;
  color: transparent;
  overflow: hidden; }

.about_me {
  margin: 0 auto;
  width: 100%; }
  .about_me ul {
    max-width: 80%;
    margin: 30px auto;
    font-size: 1.25em;
    line-height: 1.35em;
    font: "ff-enzo-web", helvetica, sans-serif; }
    .about_me ul li {
      margin: 20px 0; }

.skills, .interests {
  float: left;
  min-height: 660px;
  margin: 20px auto;
  padding-top: 20px;
  background: #4063af;
  color: white;
  width: 100%; }
  .skills ul, .interests ul {
    background: #2260cd;
    margin: 20px auto;
    padding: 1px 5%; }
  .skills h3, .interests h3 {
    background: #2260cd;
    width: 90%;
    padding: 5px;
    margin: 0 auto; }

.project_card, .tumblr {
  margin: 40px auto;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 20px 0;
  background: #4063af;
  max-width: 300px;
  min-height: 630px;
  color: white; }
  .project_card .project_name, .tumblr .project_name, .project_card .project_description, .tumblr .project_description, .tumblr .post_name {
    background: #2260cd;
    max-width: 80%;
    margin: 0 auto; }
  .project_card .project_description p, .tumblr .project_description p {
    width: 80%;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 20px;
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    padding: 5px;
    font: "ff-enzo-web", helvetica, sans-serif; }
  .project_card .buttons, .tumblr .buttons {
    margin: 0 auto;
    width: 80%; }
    .project_card .buttons button, .tumblr .buttons button {
      width: 45%;
      min-height: 40px;
      border-radius: 10px;
      border: 3px solid #6511b5;
      margin: 20px 5px 0 5px;
      font-size: 1.25em;
      background: #2c38af;
      color: white; }

.media {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 4px 10px;
  margin: 15px auto 0 auto;
  width: 65%;
  max-width: 180px;
  min-height: 50px;
  /* pop-up text */
  /* pop-up text arrow */
  /* text pops up when icon is in hover state */ }
  .media img {
    max-width: 40px;
    margin: 3px; }
  .media a {
    border-radius: 4px;
    text-decoration: none;
    font-family: "ff-enzo-web", helvetica, sans-serif;
    display: inline-block;
    width: 50px;
    height: 50px;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-font-smoothing: antialiased; }
  .media a:hover {
    background: blue; }
  .media a span {
    color: #666;
    position: relative;
    padding: 5px 7px;
    z-index: 2;
    left: -23px;
    bottom: 0;
    top: -80px;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .media a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px; }
  .media a:hover span {
    bottom: 50px;
    visibility: visible; }

.tumblr {
  margin: 20px auto;
  padding: 10px;
  max-height: 630px; }
  .tumblr p {
    width: 80%;
    margin: 10px auto;
    font-size: 1.1em;
    line-height: 1.5em;
    background: #2260cd;
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    padding: 10px;
    font: "ff-enzo-web", helvetica, sans-serif; }
  .tumblr .buttons {
    margin: 0 auto;
    width: 90%; }
    .tumblr .buttons button {
      width: 45%;
      min-height: 40px;
      border-radius: 10px;
      margin: 10px 4px;
      font-size: 1.25em; }

.twitter {
  margin: 20px auto;
  width: 80%;
  max-width: 550px; }
  .twitter #twitter-widget-0 {
    width: 100% !important; }

@media screen and (min-width: 700px) {
  nav {
    display: none;
    display: hidden; }

  h1 {
    font-size: 3.2em; }

  .about_me p {
    line-height: 1.8em; }

  .project_card, .tumblr, .tumblr {
    float: left;
    margin: 40px 4px; }

  .project_card:nth-of-type(2n), .tumblr:nth-of-type(2n), .tumblr:nth-of-type(2n) {
    float: right; } }
@media screen and (min-width: 1000px) {
  .project_card, .tumblr, .tumblr {
    float: left;
    margin: 40px 3%; }

  .project_card:nth-of-type(2n), .tumblr:nth-of-type(2n), .tumblr:nth-of-type(2n) {
    float: left; }

  .skills, .interests {
    max-width: 45%;
    margin: 0 2%; } }

/*# sourceMappingURL=stylesheet.css.map */
