/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Ignore the gross stuff above */
body {
  background: #54b3d1; }

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }

nav {
  position: fixed;
  background: #54b3d1;
  width: 100%; }
  nav li {
    float: left;
    width: 30%;
    border: 3px solid #6511b5;
    border-radius: 10px;
    text-align: center;
    font-family: "ff-enzo-web", helvetica, sans-serif;
    font-size: 1.5em;
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    padding: 10px 0px;
    margin: 10px 5px; }
  nav li:nth-of-type(2) {
    margin: 10px 5px; }
  nav li:hover, nav .project_card .buttons button:hover, .project_card .buttons nav button:hover, nav .tumblr .buttons button:hover, .tumblr .buttons nav button:hover {
    background: #2c38af;
    border: transparent; }
  nav a {
    text-decoration: none;
    color: black; }

h1 {
  text-align: center;
  line-height: 2.5em;
  font-weight: cursive; }
  h1 span {
    font-size: 3.8em;
    text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0, 0, 0, 0.15);
    color: white; }
  h1 span.space {
    margin: 0 5%; }

h1:nth-of-type(1) {
  margin-top: 100px; }

h2 {
  clear: both;
  font-size: 3.7em;
  line-height: 1.75em;
  text-align: center;
  font-family: "ff-prater-script-web", sans-serif;
  color: #0000cc;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

h3 {
  text-align: center;
  font-size: 2.2em;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 3px;
  font-family: "ff-enzo-web", helvetica, sans-serif; }

.separator {
  height: 85px;
  color: transparent;
  overflow: hidden; }

.about_me {
  margin: 0 auto;
  width: 100%; }
  .about_me ul {
    max-width: 80%;
    margin: 30px auto;
    font-size: 1.25em;
    line-height: 1.35em;
    font-family: "ff-enzo-web", helvetica, sans-serif; }
    .about_me ul li {
      margin: 20px 0; }

.skills, .interests {
  float: left;
  margin: 20px auto;
  padding-top: 20px;
  background: #4063af;
  color: white;
  width: 100%;
  height: 161.803398875%;
  -moz-box-shadow: -7px -7px 7px #3B4990;
  -webkit-box-shadow: -7px -7px 7px #3B4990;
  box-shadow: -7px -7px 7px #3B4990; }
  .skills ul, .interests ul {
    background: #2260cd;
    margin: 20px auto;
    padding: 1px 5%;
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }
  .skills h3, .interests h3 {
    background: #2260cd;
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }

.project_card, .tumblr {
  margin: 40px auto;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 20px 0;
  background: #4063af;
  max-width: 300px;
  height: 485.410196625px;
  color: white;
  -moz-box-shadow: -7px -7px 7px #3B4990;
  -webkit-box-shadow: -7px -7px 7px #3B4990;
  box-shadow: -7px -7px 7px #3B4990; }
  .project_card .project_name, .tumblr .project_name, .project_card .project_description, .tumblr .project_description, .tumblr .post_name {
    background: #2260cd;
    max-width: 80%;
    margin: 0 auto;
    padding: 2.5%;
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }
  .project_card .project_description, .tumblr .project_description {
    padding: 0px 2.5%;
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }
    .project_card .project_description p, .tumblr .project_description p {
      width: 85%;
      font-size: 1.1em;
      line-height: 1.4em;
      margin: 10px;
      -moz-box-sizing: border-box;
      /* Firefox 1, probably can drop this */
      -webkit-box-sizing: border-box;
      /* Safari 3-4, also probably droppable */
      box-sizing: border-box;
      /* Everything else */
      padding: 5px 0px;
      font-family: "ff-enzo-web", helvetica, sans-serif; }
  .project_card .buttons, .tumblr .buttons {
    margin: 0 auto;
    width: 80%; }
    .project_card .buttons button, .tumblr .buttons button {
      width: 45%;
      min-height: 40px;
      border-radius: 10px;
      border: 3px solid #6511b5;
      margin: 20px 5px 0 5px;
      font-size: 1.25em;
      background: #2c38af;
      color: white; }

.media, .projectCode {
  display: none;
  border: 3px solid #000099;
  border-radius: 10px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  padding: 4px 10px;
  margin: 15px auto 0 auto;
  width: 65%;
  width: 185px;
  height: 65px;
  -moz-box-shadow: 0 0 10px #3B4990;
  -webkit-box-shadow: 0 0 10px #3B4990;
  box-shadow: 0 0 10px #3B4990;
  /* pop-up text */
  /* pop-up text arrow */
  /* text pops up when icon is in hover state */ }
  .media img, .projectCode img {
    max-width: 40px;
    margin: 5px; }
  .media a, .projectCode a {
    border-radius: 4px;
    text-decoration: none;
    font-family: "ff-enzo-web", helvetica, sans-serif;
    display: inline-block;
    width: 50px;
    height: 50px;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-font-smoothing: antialiased; }
  .media a:hover, .projectCode a:hover {
    background: blue; }
  .media a span, .projectCode a span {
    color: #666;
    position: relative;
    padding: 5px;
    z-index: 2;
    left: -23px;
    bottom: 0;
    top: -80px;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .media a span:before, .projectCode a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px; }
  .media a:hover span, .projectCode a:hover span {
    bottom: 50px;
    visibility: visible; }

.projectCode {
  width: 45%; }

.tumblr {
  margin: 20px auto;
  -moz-box-shadow: -7px -7px 7px #3B4990;
  -webkit-box-shadow: -7px -7px 7px #3B4990;
  box-shadow: -7px -7px 7px #3B4990; }
  .tumblr .post_name {
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }
  .tumblr p {
    width: 85%;
    margin: 10px auto;
    padding: 5px 6%;
    font-size: 1.1em;
    line-height: 1.5em;
    background: #2260cd;
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    font-family: "ff-enzo-web", helvetica, sans-serif;
    -moz-box-shadow: 0 0 10px #3B4990;
    -webkit-box-shadow: 0 0 10px #3B4990;
    box-shadow: 0 0 10px #3B4990; }
  .tumblr .buttons {
    margin: 0 auto;
    width: 90%; }
    .tumblr .buttons button {
      width: 45%;
      min-height: 40px;
      border-radius: 10px;
      margin: 10px 4px;
      font-size: 1.25em; }

.twitter {
  clear: both;
  margin: 20px auto;
  width: 80%;
  max-width: 550px; }
  .twitter #twitter-widget-0 {
    width: 100% !important; }

@media screen and (min-width: 700px) {
  nav {
    display: none;
    display: hidden; }

  h1 {
    font-size: 3.2em; }

  .about_me p {
    line-height: 1.8em; }

  .project_card, .tumblr, .tumblr {
    float: left;
    margin: 40px 4px; }

  .project_card:nth-of-type(2n), .tumblr:nth-of-type(2n), .tumblr:nth-of-type(2n) {
    float: right; } }
@media screen and (min-width: 1000px) {
  h1 {
    position: relative;
    margin: 0 auto 70px auto;
    width: 85%; }

  h1:nth-of-type(1) {
    margin-top: 0; }

  h1:nth-of-type(2) {
    margin: 35px auto;
    width: 60%; }

  h1 span {
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: #22313F -2px 2px 9px;
    font-size: 1.8em; }

  span:nth-of-type(1) {
    left: 60px;
    color: #4f76bc; }

  span:nth-of-type(2) {
    left: 120px;
    color: #5e82c2; }

  span:nth-of-type(3) {
    left: 180px;
    color: #6d8dc7; }

  span:nth-of-type(4) {
    left: 240px;
    color: #7c99cd; }

  span:nth-of-type(5) {
    left: 300px;
    color: #8aa4d3; }

  span:nth-of-type(6) {
    left: 360px;
    color: #99b0d8; }

  span:nth-of-type(7) {
    left: 420px;
    color: #a8bbde; }

  span:nth-of-type(8) {
    left: 480px;
    color: #b7c7e4; }

  span:nth-of-type(9) {
    left: 540px;
    color: #c5d2e9; }

  span:nth-of-type(10) {
    left: 600px;
    color: #d4deef; }

  span:nth-of-type(11) {
    left: 660px;
    color: #e3e9f4; }

  span:nth-of-type(12) {
    left: 720px;
    color: #f2f5fa; }

  span:nth-of-type(13) {
    left: 780px;
    color: white; }

  h2 {
    margin-top: 40px; }

  .project_card, .tumblr, .tumblr {
    float: left;
    margin: 40px 3%; }

  .project_card:nth-of-type(2n), .tumblr:nth-of-type(2n), .tumblr:nth-of-type(2n) {
    float: left; }

  .skills, .interests {
    max-width: 45%;
    margin: 0 2%; } }

/*# sourceMappingURL=stylesheet.css.map */
